
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <a href="/">Inicio</a>
        <a href="/about">Sobre Mi</a>
        <h1>Rechazos</h1>
        <p>Hay Personas en las cuales a la hora de sentirse rechazadas ya sea por una entrevista de trabajo o desamor, 
            se motivan mas para lograr sus objetivos
        </p>
    </body>
</html>